---
# tasks/main.yml

- name: Include OS specific variables
  ansible.builtin.include_vars: "{{ ansible_facts.os_family }}.yml"

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  when:
    - not msmtp_config_only
    - ansible_facts.os_family == "Debian"

- name: Ensure MSMTP related packages are installed
  ansible.builtin.package:
    name: "{{ item }}"
    state: "present"
  with_items: "{{ msmtp_packages }}"
  when: not msmtp_config_only

- name: Ensure msmtp conf dir presents
  ansible.builtin.file:
    path: "/etc/msmtp"
    state: "directory"
    mode: "{{ msmtp_rcdir_mode }}"
    owner: "{{ msmtp_rcdir_owner }}"
    group: "{{ msmtp_rcdir_group }}"

- name: Ensure account specific msmtprc conf files are present
  ansible.builtin.template:
    src: "msmtprc.j2"
    dest: "/etc/msmtp/msmtprc{{ (item.name == 'default') | ternary('.000.', '.') }}{{ item.name }}"
    mode: "{{ msmtp_rcfile_mode }}"
    owner: "{{ msmtp_rcfile_owner }}"
    group: "{{ msmtp_rcfile_group }}"
  with_items:
    - "{{ msmtp_accounts }}"
  no_log: "{{ msmtp_no_log }}"

- name: Ensure account specific aliases conf files are present
  ansible.builtin.template:
    src: "aliases.j2"
    dest: "/etc/msmtp/aliases{{ (item.name == 'default') | ternary('.000.', '.') }}{{ item.name }}"
    mode: "{{ msmtp_rcfile_mode }}"
    owner: "{{ msmtp_rcfile_owner }}"
    group: "{{ msmtp_rcfile_group }}"
  with_items:
    - "{{ msmtp_accounts }}"
  no_log: "{{ msmtp_no_log }}"

- name: Ensure account specific log files are exist and have valid permissions
  ansible.builtin.copy:
    content: ""
    force: "no"
    dest: "{{ item.logfile }}"
    mode: "{{ msmtp_logfile_mode }}"
    owner: "{{ msmtp_logfile_owner }}"
    group: "{{ msmtp_logfile_group }}"
  when: item.log == 'file' and item.logfile is defined
  with_items:
    - "{{ msmtp_accounts }}"
  no_log: "{{ msmtp_no_log }}"

- name: Assemble msmtp config file from fragmets
  ansible.builtin.assemble:
    src: /etc/msmtp
    dest: /etc/msmtprc
    mode: "{{ msmtp_rcfile_mode }}"
    owner: "{{ msmtp_rcfile_owner }}"
    group: "{{ msmtp_rcfile_group }}"
    delimiter: ""
    regexp: "^msmtprc\\..+"
...
